.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, rgba(245, 126, 179, 0.8), rgba(244, 180, 213, 0.8)), url('../assets/images/hero-image.png') no-repeat center center/cover;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    color: black; /* Set text color to black */
    font-family: 'WIP', sans-serif; /* Set the font type to WIP */
    max-width: 100%;
    height: 60vh;
}

.hero-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.subheading, .hero h1, .hero p, .hero-buttons {
    position: relative;
    z-index: 2;
    color: black; /* Ensure text is black */
}

.subheading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}

.hero h1 {
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

.hero-buttons .browse-btn,
.hero-buttons .get-started-btn {
    padding: 15px 30px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.browse-btn {
    background-color: var(--primary-color);
    color: var(--primary-contrast);
    border: 1px solid var(--primary-color);
}

.get-started-btn {
    background-color: var(--primary-color);
    color: var(--primary-contrast);
}