

.page-title {
    font-size: 72px; /* Adjust size if necessary */
    font-weight: 600; /* Bold weight */
    line-height: 1.2;
    margin-left: 50px; /* Indentation to match Bubble layout */
}

.page-description {
    white-space: pre-wrap;
    overflow: visible;
    font-size: 18px; /* Ensure appropriate readability */
    font-weight: 500; /* Medium weight */
    line-height: 1.4;
    align-self: flex-start;
    width: 100%; /* Set width to full */
    max-width: 800px; /* Increase width to give the text more space */
    margin-left: 50px; /* Indent to match title */
    margin-top: 10px; /* Add some space from the title */
    z-index: 2;
}
